// Custom scss
// -----------------------------------------------------------------------------


// make field labels light
.field__label, strong.field__label {
    font-weight: $font-weight-normal;
    color: $primary-700;
}
// make sure iconized menu items are aligned correctly
li.nav-item a {
    display: block;
    padding: 0.5rem;
}
// hide "view" tab
ul.nav-tabs li a.active {
    display: none;
}
// hide card header of exposed view forms
form.bef-exposed-form .card-header {
    display: none;
}
// view on front page: show radio button horizontally
.js-form-type-radio, .js-form-type-checkbox {
    float: left !important;
    padding-right: 10px !important;
}
// hide text filter on ckeditor
div.filter-wrapper {
    display: none;
}
// force small icons
.material-icons.small {
    font-size: 16px;
}


// search/finder field in navbar no margins
#views-exposed-form-finder-block-1 div {
    margin: 0 !important;
    width: 150px;
}

// colorize buttons/icons/slider based on rating
[rating="1"] { background-color: $rating1 !important; } 
[rating="2"] { background-color: $rating2 !important; } 
[rating="3"] { background-color: $rating3 !important; }
[rating="4"] { background-color: $rating4 !important; }
[rating="5"] { background-color: $rating5 !important; }
[rating="6"] { background-color: $rating6 !important; } 
[rating="7"] { background-color: $rating7 !important; } 
[rating="8"] { background-color: $rating8 !important; } 
[rating="9"] { background-color: $rating9 !important; }

// iconize links/items based on content type
.knowledge:before, .Knowledge:before {  content: "lightbulb_outline";}
.person:before, .Person:before {  content: "person";}
.publication:before, .Publication:before {  content: "book";}
.event:before, .Event:before {  content: "event";}
.collection:before, .Collection:before {  content: "reorder";}
.place:before, .Place:before {  content: "place";}
.object:before, .Object:before {  content: "extension";}
// iconize action items/buttons/links
.star:before, .Star:before {  content: "star_border";}
.unstar:before, .Unstarred:before {  content: "star";}
.review:before, .Review:before {  content: "check_circle_outline";}
.reviewed:before, .Reviewed:before {  content: "check_circle";}

/*
.flag-review.action-flag a i:before {  content: "check";}
.flag-review.action-unflag a i:before {  content: "check_circle";}
.flag-star.action-flag a i:before {  content: "star_border";}
.flag-star.action-unflag a i:before {  content: "star";}
.flag-star.action-unflag a,
.flag-review.action-unflag a {
  background-color: $primary-100;
}
*/

//fix
b, strong {
    font-weight: $font-weight-bold;
}

.hidden {
    display: none;
}



fieldset.fieldgroup div.card-header {
    display: none;
}


// REDUNDANT
/*
.custom-file-control, .form-control {
    background-color: #fff;
}
// footer of cards smaller padding if only buttons appear
.rm-button-card {
    padding-bottom: 0;
    padding-top: 5px;
}
.badge {
    font-weight: 400 !important;
}
// menu items not uppercase
.nav-link {
    text-transform: none !important;
}

*/


.btn.round {
    border-radius: 50%;
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    line-height: 0;
}
.btn.flat {
    border: 0;
}