/**
 * @file
 * Reset most HTML elements styles for the off-canvas dialog.
 *
 * This is a generic reset. Drupal-specific classes are reset in components.
 */

/**
 * Do not include div in then initial overrides because including div will
 * cause the need for many more overrides in this file.
 */
 #drupal-off-canvas *:not(div),
 #drupal-off-canvas *:not(svg *),
 #drupal-off-canvas *:after,
 #drupal-off-canvas *:before {
   all: initial;
   box-sizing: border-box;
   text-shadow: none;
   -webkit-font-smoothing: antialiased;
   -webkit-tap-highlight-color: initial;
 }
 
 /* Reset size and position on elements. */
 #drupal-off-canvas a,
 #drupal-off-canvas abbr,
 #drupal-off-canvas acronym,
 #drupal-off-canvas address,
 #drupal-off-canvas applet,
 #drupal-off-canvas article,
 #drupal-off-canvas aside,
 #drupal-off-canvas audio,
 #drupal-off-canvas b,
 #drupal-off-canvas big,
 #drupal-off-canvas blockquote,
 #drupal-off-canvas body,
 #drupal-off-canvas canvas,
 #drupal-off-canvas caption,
 #drupal-off-canvas cite,
 #drupal-off-canvas code,
 #drupal-off-canvas dd,
 #drupal-off-canvas del,
 #drupal-off-canvas dfn,
 #drupal-off-canvas dialog,
 #drupal-off-canvas dl,
 #drupal-off-canvas dt,
 #drupal-off-canvas em,
 #drupal-off-canvas embed,
 #drupal-off-canvas fieldset,
 #drupal-off-canvas figcaption,
 #drupal-off-canvas figure,
 #drupal-off-canvas footer,
 #drupal-off-canvas form,
 #drupal-off-canvas h1,
 #drupal-off-canvas h2,
 #drupal-off-canvas h3,
 #drupal-off-canvas h4,
 #drupal-off-canvas h5,
 #drupal-off-canvas h6,
 #drupal-off-canvas header,
 #drupal-off-canvas hgroup,
 #drupal-off-canvas hr,
 #drupal-off-canvas html,
 #drupal-off-canvas i,
 #drupal-off-canvas iframe,
 #drupal-off-canvas img,
 #drupal-off-canvas ins,
 #drupal-off-canvas kbd,
 #drupal-off-canvas label,
 #drupal-off-canvas legend,
 #drupal-off-canvas li,
 #drupal-off-canvas main,
 #drupal-off-canvas mark,
 #drupal-off-canvas menu,
 #drupal-off-canvas meter,
 #drupal-off-canvas nav,
 #drupal-off-canvas object,
 #drupal-off-canvas ol,
 #drupal-off-canvas output,
 #drupal-off-canvas p,
 #drupal-off-canvas pre,
 #drupal-off-canvas progress,
 #drupal-off-canvas q,
 #drupal-off-canvas rp,
 #drupal-off-canvas rt,
 #drupal-off-canvas s,
 #drupal-off-canvas samp,
 #drupal-off-canvas section,
 #drupal-off-canvas small,
 #drupal-off-canvas span,
 #drupal-off-canvas strike,
 #drupal-off-canvas strong,
 #drupal-off-canvas sub,
 #drupal-off-canvas sup,
 #drupal-off-canvas table,
 #drupal-off-canvas tbody,
 #drupal-off-canvas td,
 #drupal-off-canvas tfoot,
 #drupal-off-canvas th,
 #drupal-off-canvas thead,
 #drupal-off-canvas time,
 #drupal-off-canvas tr,
 #drupal-off-canvas tt,
 #drupal-off-canvas u,
 #drupal-off-canvas ul,
 #drupal-off-canvas var,
 #drupal-off-canvas video,
 #drupal-off-canvas xmp {
   border: 0;
   margin: 0;
   padding: 0;
   font-size: 100%;
 }
 

 /**
 * @file
 * Styling for the off-canvas ui dialog. Including overrides for jQuery UI.
 */

/* Style the dialog-off-canvas container. */
.ui-dialog.ui-dialog-off-canvas {
  background: #444;
  border-radius: 0;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3333);
  padding: 0;
  color: #ddd;
  /* Layer the dialog just under the toolbar. */
  z-index: 501;
}
.ui-widget.ui-dialog.ui-dialog-off-canvas {
  border: 1px solid transparent;
}

/* Style the off-canvas dialog header. */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  padding: 1em;
  background: #2d2d2d;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  font-weight: normal;
  color: #fff;
}
/* Hide the default jQuery UI dialog close button. */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close .ui-icon {
  visibility: hidden;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
//  background-image: url(../icons/bebebe/ex.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 3px solid transparent;
  height: 30px;
  width: 30px;
  position: absolute;
  top: calc(50% - 6px);
  right: 1em;
  transition: all 0.5s ease;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close:hover,
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close:focus {
 // background-image: url(../icons/ffffff/ex.svg);
  border: 3px solid #fff;
}
[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  left: 1em;
  right: auto;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  margin: 0;
  /* Push the text away from the icon. */
  padding-left: 30px; /* LTR */
  padding-right: 0; /* LTR */
  /* Ensure that long titles do not overlap the close button. */
  max-width: 210px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  text-align: left; /* LTR */
}
[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  float: right;
  text-align: right;
  padding-left: 0;
  padding-right: 30px;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
//  background: transparent url(../icons/ffffff/pencil.svg) no-repeat scroll center center;
  background-size: 100% auto;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  left: 1em; /* LTR */
  top: 0;
  width: 20px;
}
[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
  left: auto;
  right: 1em;
}

/* Override default styling from jQuery UI. */
#drupal-off-canvas .ui-state-default,
#drupal-off-canvas .ui-widget-content .ui-state-default,
#drupal-off-canvas .ui-widget-header .ui-state-default {
  border: 0;
  font-weight: normal;
  font-size: 14px;
  color: #333;
}
#drupal-off-canvas .ui-widget-content a {
  color: #85bef4;
}



 /*
  * Override the default (display: inline) for browsers that do not recognize HTML5 tags.
  * IE8 (and lower) requires a shiv: http://ejohn.org/blog/html5-shiv
  */
 #drupal-off-canvas article,
 #drupal-off-canvas aside,
 #drupal-off-canvas figcaption,
 #drupal-off-canvas figure,
 #drupal-off-canvas footer,
 #drupal-off-canvas header,
 #drupal-off-canvas hgroup,
 #drupal-off-canvas main,
 #drupal-off-canvas menu,
 #drupal-off-canvas nav,
 #drupal-off-canvas section {
   display: block;
   line-height: normal;
   border-radius: 0;
 }
 
 /*
  * Makes browsers agree.
  * IE + Opera = font-weight: bold.
  * Gecko + WebKit = font-weight: bolder.
  */
 #drupal-off-canvas b,
 #drupal-off-canvas strong {
   font-weight: bold;
 }
 
 #drupal-off-canvas em,
 #drupal-off-canvas i {
   font-style: italic;
 }
 
 #drupal-off-canvas img {
   color: transparent;
   font-size: 0;
   vertical-align: middle;
 }
 
 #drupal-off-canvas ul,
 #drupal-off-canvas ol {
   list-style: none;
 }
 
 /* reset table styling. */
 #drupal-off-canvas table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 #drupal-off-canvas table thead,
 #drupal-off-canvas table tbody,
 #drupal-off-canvas table tbody tr:nth-child(even),
 #drupal-off-canvas table tbody tr:nth-child(odd),
 #drupal-off-canvas table tfoot {
   border: 0;
   background: transparent none;
 }
 #drupal-off-canvas th,
 #drupal-off-canvas td,
 #drupal-off-canvas caption {
   font-weight: normal;
 }
 #drupal-off-canvas q {
   quotes: none;
 }
 #drupal-off-canvas q:before,
 #drupal-off-canvas q:after {
   content: none;
 }
 #drupal-off-canvas sub,
 #drupal-off-canvas sup,
 #drupal-off-canvas small {
   font-size: 75%;
 }
 #drupal-off-canvas sub,
 #drupal-off-canvas sup {
   line-height: 0;
   position: relative;
   vertical-align: baseline;
 }
 #drupal-off-canvas sub {
   bottom: -0.25em;
 }
 #drupal-off-canvas sup {
   top: -0.5em;
 }
 
 /*
  * For IE9. Without, occasionally draws shapes
  * outside the boundaries of <svg> rectangle.
  */
 #drupal-off-canvas svg {
   overflow: hidden;
 }
 
 /* Specific resets for inputs. */
 #drupal-off-canvas input[type="search"]::-webkit-search-decoration {
   display: none;
 }
 #drupal-off-canvas input {
   margin: 0;
   padding: 0;
 }
 #drupal-off-canvas input[type="checkbox"],
 #drupal-off-canvas input[type="radio"] {
   position: static;
   margin: 0;
 }
 #drupal-off-canvas input:invalid,
 #drupal-off-canvas button:invalid,
 #drupal-off-canvas select:invalid,
 #drupal-off-canvas textarea:invalid,
 #drupal-off-canvas input:focus,
 #drupal-off-canvas button:focus,
 #drupal-off-canvas select:focus,
 #drupal-off-canvas textarea:focus,
 #drupal-off-canvas input[type="file"]:focus,
 #drupal-off-canvas input[type="file"]:active,
 #drupal-off-canvas input[type="radio"]:focus,
 #drupal-off-canvas input[type="radio"]:active,
 #drupal-off-canvas input[type="checkbox"]:focus,
 #drupal-off-canvas input[type="checkbox"]:active {
   box-shadow: none;
   z-index: 1;
 }
 #drupal-off-canvas input[role="button"] {
   cursor: pointer;
 }
 #drupal-off-canvas button,
 #drupal-off-canvas input[type="reset"],
 #drupal-off-canvas input[type="submit"],
 #drupal-off-canvas input[type="button"] {
   -webkit-appearance: none;
   -moz-appearance: none;
   display: inline-block;
   background-image: none;
   border: 0;
   outline: 0;
   overflow: visible;
   text-shadow: none;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
 }
 #drupal-off-canvas button:hover,
 #drupal-off-canvas input[type="reset"]:hover,
 #drupal-off-canvas input[type="submit"]:hover,
 #drupal-off-canvas input[type="button"]:hover {
   background-image: none;
   text-decoration: none;
 }
 #drupal-off-canvas button:active,
 #drupal-off-canvas input[type="reset"]:active,
 #drupal-off-canvas input[type="submit"]:active,
 #drupal-off-canvas input[type="button"]:active {
   background-image: none;
   box-shadow: none;
   border-color: grey;
 }
 #drupal-off-canvas button::-moz-focus-inner,
 #drupal-off-canvas input[type="reset"]::-moz-focus-inner,
 #drupal-off-canvas input[type="submit"]::-moz-focus-inner,
 #drupal-off-canvas input[type="button"]::-moz-focus-inner {
   border: 0;
   padding: 0;
 }
 #drupal-off-canvas textarea,
 #drupal-off-canvas select,
 #drupal-off-canvas input[type="date"],
 #drupal-off-canvas input[type="datetime"],
 #drupal-off-canvas input[type="datetime-local"],
 #drupal-off-canvas input[type="email"],
 #drupal-off-canvas input[type="month"],
 #drupal-off-canvas input[type="number"],
 #drupal-off-canvas input[type="password"],
 #drupal-off-canvas input[type="search"],
 #drupal-off-canvas input[type="tel"],
 #drupal-off-canvas input[type="text"],
 #drupal-off-canvas input[type="time"],
 #drupal-off-canvas input[type="url"],
 #drupal-off-canvas input[type="week"] {
   height: auto;
   vertical-align: middle;
   border-radius: 0;
 }
 #drupal-off-canvas textarea[disabled],
 #drupal-off-canvas select[disabled],
 #drupal-off-canvas input[type="date"][disabled],
 #drupal-off-canvas input[type="datetime"][disabled],
 #drupal-off-canvas input[type="datetime-local"][disabled],
 #drupal-off-canvas input[type="email"][disabled],
 #drupal-off-canvas input[type="month"][disabled],
 #drupal-off-canvas input[type="number"][disabled],
 #drupal-off-canvas input[type="password"][disabled],
 #drupal-off-canvas input[type="search"][disabled],
 #drupal-off-canvas input[type="tel"][disabled],
 #drupal-off-canvas input[type="text"][disabled],
 #drupal-off-canvas input[type="time"][disabled],
 #drupal-off-canvas input[type="url"][disabled],
 #drupal-off-canvas input[type="week"][disabled] {
   background-color: grey;
 }
 #drupal-off-canvas input[type="hidden"] {
   visibility: hidden;
 }
 #drupal-off-canvas button[disabled],
 #drupal-off-canvas input[disabled],
 #drupal-off-canvas select[disabled],
 #drupal-off-canvas select[disabled] option,
 #drupal-off-canvas select[disabled] optgroup,
 #drupal-off-canvas textarea[disabled] {
   box-shadow: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
 }
 #drupal-off-canvas input:placeholder,
 #drupal-off-canvas textarea:placeholder {
   color: grey;
 }
 #drupal-off-canvas textarea,
 #drupal-off-canvas select[size],
 #drupal-off-canvas select[multiple] {
   height: auto;
 }
 #drupal-off-canvas select[size="0"],
 #drupal-off-canvas select[size="1"] {
   height: auto;
 }
 #drupal-off-canvas textarea {
   min-height: 40px;
   overflow: auto;
   resize: vertical;
   width: 100%;
 }
 #drupal-off-canvas optgroup {
   color: black;
   font-style: normal;
   font-weight: normal;
 }
 #drupal-off-canvas optgroup::-moz-focus-inner {
   border: 0;
   padding: 0;
 }
 #drupal-off-canvas * button {
   background: none;
   border: 1px solid grey;
   color: black;
   padding: 0;
   text-decoration: none;
   overflow: visible;
   vertical-align: middle;
   width: auto;
 }
 #drupal-off-canvas * textarea,
 #drupal-off-canvas * select,
 #drupal-off-canvas *:not(div) textarea,
 #drupal-off-canvas *:not(div) select {
   background: white;
   border: 1px solid grey;
   color: black;
   padding: 0;
   vertical-align: top;
 }
 
 /* To standardize off-canvas selection color. */
 #drupal-off-canvas ::-moz-selection,
 #drupal-off-canvas ::selection {
   background-color: rgba(175, 175, 175, 0.5);
   color: inherit;
 }
 
 
 /**
 * @file
 * CSS for off-canvas dialog.
 */

/* Position the off-canvas dialog container outside the right of the viewport. */
.ui-dialog-off-canvas {
  box-sizing: border-box;
  height: 100%;
  overflow: visible;
}

/* Wrap the form that's inside the off-canvas dialog. */
.ui-dialog-off-canvas .ui-dialog-content {
  padding: 0 20px;
  /* Prevent horizontal scrollbar. */
  overflow-x: hidden;
  overflow-y: auto;
}
[dir="rtl"] .ui-dialog-off-canvas .ui-dialog-content {
  text-align: right;
}

/* Position the off-canvas dialog container outside the right of the viewport. */
.ui-dialog-off-canvas {
  box-sizing: border-box;
  height: 100%;
  overflow: visible;
}

/* Wrap the form that's inside the off-canvas dialog. */
.ui-dialog-off-canvas #drupal-off-canvas {
  padding: 0 20px 20px;
  /* Prevent horizontal scrollbar. */
  overflow-x: hidden;
  overflow-y: auto;
}
[dir="rtl"] .ui-dialog-off-canvas #drupal-off-canvas {
  text-align: right;
}

/*
 * Force the off-canvas dialog to be 100% width at the same breakpoint the
 * dialog system uses to expand dialog widths.
 */
@media all and (max-width: 48em) { /* 768px */
  .ui-dialog.ui-dialog-off-canvas {
    width: 100% !important;
  }
  /* When off-canvas dialog is at 100% width stop the body from scrolling */
  .js-off-canvas-dialog-open {
    height: 100%;
    overflow-y: hidden;
  }
}


/**
 * @file
 * Set base styles for the off-canvas dialog.
 */

/* Set some global attributes. */
#drupal-off-canvas *,
#drupal-off-canvas *:not(div) {
  background: #444;
  font-family: Roboto, sans-serif;
  color: #ddd;
}

/* Generic elements. */
#drupal-off-canvas a,
#drupal-off-canvas .link {
  border-bottom: none;
  font-family: Roboto, sans-serif;
  font-size: inherit;
  font-weight: normal;
  color: #85bef4;
  text-decoration: none;
  transition: color 0.5s ease;
}

#drupal-off-canvas a:focus,
#drupal-off-canvas .link:focus,
#drupal-off-canvas a:hover,
#drupal-off-canvas .link:hover {
  text-decoration: underline;
}
#drupal-off-canvas hr {
  height: 1px;
  background: #ccc;
}
#drupal-off-canvas summary,
#drupal-off-canvas .fieldgroup:not(.form-composite) > legend {
  font-weight: bold;
}
#drupal-off-canvas h1,
#drupal-off-canvas .heading-a {
  display: block;
  font-weight: bold;
  font-size: 1.625em;
  line-height: 1.875em;
}
#drupal-off-canvas h2,
#drupal-off-canvas .heading-b {
  display: block;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.385em;
}
#drupal-off-canvas h3,
#drupal-off-canvas .heading-c {
  display: block;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.231em;
}
#drupal-off-canvas h4,
#drupal-off-canvas .heading-d {
  display: block;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.154em;
}
#drupal-off-canvas h5,
#drupal-off-canvas .heading-e {
  display: block;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.077em;
}
#drupal-off-canvas h6,
#drupal-off-canvas .heading-f {
  display: block;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.077em;
}
#drupal-off-canvas p {
  margin: 1em 0;
}
#drupal-off-canvas dl {
  margin: 0 0 20px;
}
#drupal-off-canvas dl dd,
#drupal-off-canvas dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
[dir="rtl"] #drupal-off-canvas dl dd,
[dir="rtl"] #drupal-off-canvas dl dl {
  margin-right: 20px;
}
#drupal-off-canvas blockquote {
  margin: 1em 40px;
}
#drupal-off-canvas address {
  font-style: italic;
}
#drupal-off-canvas u,
#drupal-off-canvas ins {
  text-decoration: underline;
}
#drupal-off-canvas s,
#drupal-off-canvas strike,
#drupal-off-canvas del {
  text-decoration: line-through;
}
#drupal-off-canvas big {
  font-size: larger;
}
#drupal-off-canvas small {
  font-size: smaller;
}
#drupal-off-canvas sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
#drupal-off-canvas sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
#drupal-off-canvas abbr,
#drupal-off-canvas acronym {
  border-bottom: dotted 1px;
  background: transparent;
}

#drupal-off-canvas ul {
  list-style-type: disc;
  list-style-image: none;
}
[dir="rtl"] #drupal-off-canvas .messages__list {
  margin-right: 0;
}
#drupal-off-canvas ol {
  list-style-type: decimal;
}
#drupal-off-canvas ul li,
#drupal-off-canvas ol li {
  display: block;
}
#drupal-off-canvas blockquote,
#drupal-off-canvas code {
  margin: 20px 0;
}
#drupal-off-canvas pre {
  margin: 20px 0;
  white-space: pre-wrap;
}

/* Classes for hidden and visually hidden elements. See hidden.module.css. */
#drupal-off-canvas .hidden {
  display: none;
}
#drupal-off-canvas .visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
#drupal-off-canvas .visually-hidden.focusable:active,
#drupal-off-canvas .visually-hidden.focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}
#drupal-off-canvas .invisible {
  visibility: hidden;
}

/* Some system classes. See system.admin.css. */
#drupal-off-canvas .panel {
  padding: 5px 5px 15px;
}
#drupal-off-canvas .panel__description {
  margin: 0 0 3px;
  padding: 2px 0 3px 0;
}
#drupal-off-canvas .compact-link {
  margin: 0 0 10px 0;
}
#drupal-off-canvas small .admin-link:before {
  content: ' [';
}
#drupal-off-canvas small .admin-link:after {
  content: ']';
}

/* Override jQuery UI */
#drupal-off-canvas .ui-widget-content a {
  color: #85bef4 !important;
}

/* Message styles */
#drupal-off-canvas .messages {
  background: no-repeat 10px 17px;
}
[dir="rtl"] #drupal-off-canvas .messages {
  background-position: right 10px top 17px;
}
#drupal-off-canvas .messages abbr {
  color: #444;
}
#drupal-off-canvas .messages--status {
  background-color: #f3faef;
//  background-image: url(../icons/73b355/check.svg);
  color: #325e1c;
}
#drupal-off-canvas .messages--warning {
  background-color: #fdf8ed;
//  background-image: url(../icons/e29700/warning.svg);
  color: #734c00;
}

#drupal-off-canvas .messages--error {
  background-color: #fcf4f2;
//  background-image: url(../icons/e32700/error.svg);
  color: #a51b00;
}

#drupal-off-canvas .messages--error div[role="alert"] {
  background: transparent;
  color: inherit;
}

/**
 * @file
 * Visual styling for forms in the off-canvas dialog.
 */

#drupal-off-canvas form {
  font-family: Roboto, sans-serif;
  color: #ddd;
}
#drupal-off-canvas input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
#drupal-off-canvas input[type="radio"] {
  -webkit-appearance: radio;
}
#drupal-off-canvas select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}
#drupal-off-canvas option {
  display: block;
  font-family: Roboto, sans-serif;
}
#drupal-off-canvas label {
  line-height: normal;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #ddd;
}
#drupal-off-canvas .visually-hidden {
  opacity: 0;
  height: 0;
  width: 0;
  letter-spacing: -2em;
}
#drupal-off-canvas .description,
#drupal-off-canvas .form-item .description,
#drupal-off-canvas .details-description {
  color: #ddd;
  margin-top: 5px;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
}
#drupal-off-canvas .form-item {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* Set size and position for all inputs. */
#drupal-off-canvas .form-select,
#drupal-off-canvas .form-text,
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time {
  box-sizing: border-box;
  max-width: 100%;
  padding: 6px;
  margin: 5px 0 0 0;
  border-width: 1px;
 // border-radius: 2px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  color: #333;
  line-height: 16px;
}
/* Reduce contrast for fields against dark background. */
#drupal-off-canvas .form-text,
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  background-color: #eee;
  border-color: #333;
  color: #595959;
}
#drupal-off-canvas .form-text:focus,
#drupal-off-canvas .form-tel:focus,
#drupal-off-canvas .form-email:focus,
#drupal-off-canvas .form-url:focus,
#drupal-off-canvas .form-search:focus,
#drupal-off-canvas .form-number:focus,
#drupal-off-canvas .form-color:focus,
#drupal-off-canvas .form-file:focus,
#drupal-off-canvas .form-textarea:focus,
#drupal-off-canvas .form-date:focus,
#drupal-off-canvas .form-time:focus {
  border-color: #40b6ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.125), 0 0 8px #40b6ff;
  background-color: #fff;
}
#drupal-off-canvas td .form-item,
#drupal-off-canvas td .form-select {
  margin: 0;
}
#drupal-off-canvas .form-file {
  margin-bottom: 5px;
  width: 100%;
}
#drupal-off-canvas .form-actions {
  text-align: center;
  margin: 10px 0;
}
#drupal-off-canvas .ui-autocomplete {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
#drupal-off-canvas .ui-autocomplete li {
  display: block;
}
#drupal-off-canvas .ui-autocomplete li a {
  color: #595959 !important;
  cursor: pointer;
  padding: 5px;
}

/**
 * @file
 * Motion effects for off-canvas dialog.
 *
 * Motion effects are in a separate file so that they can be easily turned off
 * to improve performance if desired.
 */

 .dialog-off-canvas-main-canvas {
  transition: padding-right 0.7s ease, padding-left 0.7s ease, padding-top 0.3s ease;
}

